/*
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}********************** 
        GENERAL
***********************

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
  
}
a,
a:hover,
a:focus{
    text-decoration: none;
}
*/


/*********************** 
     GENERAL BUTTON
************************/



a,
a:hover,
a:focus{
    text-decoration: none;
}


p{
    font-size: 16px;
    line-height: 4vh;
      font-weight: 500;
}
.btn-general {
/*    font-family: 'Raleway', sans-serif;*/
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}

.btn-green {
    color: #FFF;
    background: #5c9320;
}

.btn-white {
    color: #212226;
    background: #FFF;
}

.btn-green:hover,
.btn-green:focus,
.btn-white:hover,
.btn-white:focus {
    color: #FFF;
    background: #000;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    font-size: 25px;
    padding: 2px 13px;
}

.btn-gradient {
    color: #FFF;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
}

.btn-gradient:hover,
.btn-gradient:focus {
    color: #FFF;
    background-position: right center;
}


/*********************** 
   LINE ICON SETTING
************************/

[class*='lni-'] {
    display: inline-block;
}


/*********************** 
   CONTENT BOXES
************************/

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}

.content-box-xs {
    padding: 30px 0;
}


/*********************** 
   HELPER CLASSES
************************/

.p-0 {
    padding: 0!important;
}

.p-100 {
    padding: 100px!important;
}

.p-t-0 {
    padding-top: 0!important;
}

.p-t-100 {
    padding-top: 100px!important;
}

.p-t-30 {
    padding-top: 30px!important;
}

.p-b-0 {
    padding-bottom: 0!important;
}

.p-b-100 {
    padding-bottom: 100px!important;
}

.m-b-0 {
    margin-bottom: 0px!important;
}

.m-b-30 {
    margin-bottom: 30px!important;
}

.m-b-50 {
    margin-bottom: 50px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-b-50 {
    margin-bottom: 50px!important;
}

.m-b-100 {
    margin-bottom: 100px!important;
}

.m-b-150 {
    margin-bottom: 150px!important;
}

.m-t-0 {
    margin-top: 0px!important;
}

.m-t-70 {
    margin-top: 70px!important;
}

.m-t-30 {
    margin-top: 30px!important;
}

/*********************** 
   GENERAL HEADING
************************/

.vertical-heading h5,
.horizontal-heading h5 {
    color: #FFCF10;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 8px;
}

.vertical-heading h5 {
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 66px;
    left: -55px;
}

.vertical-heading h2,
.horizontal-heading h2 {
    font-size: 30px;
    font-weight: 100;
    line-height: 45px;
}

.vertical-heading h2 {
    margin: 0 0 0 80px;
}

.highlight-heading {
    color: #FFCF10;
    font-weight: 700;
}

.horizontal-heading {
    text-align: center;
}

.horizontal-heading h2 {
    margin: 0;
}

.horizontal-heading h5 {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 10px;
}

.title {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 100px;
}

.district-logo {
    height: 105px;
}

.rctlc-logo {
    height: 150px;
}

h1 {
    font-size: 35px;
    text-align: center;
    /*	margin-top: 30px;*/
}

:root {
    --primary-color: #C72727;
    --secondary-color: #F99500;
    --light-color: #F3F3F3;
    --dark-color: #333;
    

}
#about .highlight-heading {
    font-weight: 900;
    font-size: 25px;
}

}

body{
    font-family: 'Poppins', sans-serif;
}


.category {
    --category-sports: #F99500;
    --category-ent: #A66BBE;
    --category-tech: #009CFF;
}

.images {
    width: 300px;
    height: 300px;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: .55rem;
    text-transform: uppercase;
    padding: .4rem .6rem;
    border-radius: 15px;
    margin-bottom: .5rem;
}

.category-sports {
    background: var(--category-sports);
}

.category-ent {
    background: var(--category-ent);
}

.category-tech {
    background: var(--category-tech);
}

.card {
    background: #FFF;
    padding: 1rem;
}

.bg-dark {
    background: var(--dark-color);
    color: #FFF;
}

.bg-primary {
    background: var(--primary-color);
    color: #FFF;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #FFF;
}

#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1/span 2;
    align-items: center;
}

#home-articles .articles-container .card-grid:last-child {
    grid-column: 2/span 2;
}

.img-dance{
    height: 300px;
    
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

section {
    background: #FFF;
}

.no-gutters[class*=col-] {
    padding: 0 !important;
}


/*********************WORK********************/

.portfolio-item {
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    transition: all .5s ease;
}

.no-gutters {
    padding: 0;
}

.portfolio-item:hover img {
    transform: scale(1.2);
    cursor: zoom-in;
}

#work {
    margin-bottom: 100px;
}

/*********************TEAM********************/

#team{
    background:white;
    height: 1000px;
}
#team [class*='team-content-$']{
    width: 350px;
    height: 350px;
}
#team .team-image{
    display: inline-block;
    width: 350px;
    height: 350px;
    
}

#team .team-heading{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
    font-weight: 700;
}
#team .team-para{
       font-size: 16px;
        color:#34C6D3 ;
        font-style: italic;
        letter-spacing: 1px;
        padding-top: 5px;
        font-weight: 700;
        text-align: center;
}

#team .icons{
    padding: 5px;
    text-align: center;    
}
#team .icons i{
    padding: 15px;
    font-size: 16px;
}

#team .fa:hover{
     color:#34C6D3 ;
    cursor: pointer;
}



.main-header .header-lower{
	background:#ffffff;
	z-index:5;
}
.main-header .sticky-header .logo img{
	position: relative;
	top: 0px;
}
.main-menu{
	position:relative;	
}
.header-lower .header-area{
	padding: 0px 40px;
	position:relative;
	background: #FFCF10;
	border-radius: 25px;
	margin-bottom: -25px;	
}
.main-menu .navbar-collapse{
	padding:0px;	
}

.main-menu .navigation{
	position:relative;
	margin:0px;
}
.main-menu .navigation > li{
	position:relative;
	display: inline-block;
}
.main-menu .navigation > li:last-child{
	margin-right: 0px;
}
.sticky-header .main-menu .navigation > li{
	margin:0px;
}
.main-menu .navigation > li > a{
	position:relative;
	display:block;
	padding: 13px 0px;
	margin-right: 26px;
	font-size:15px;
	letter-spacing: 1px;
	color:#ffffff;
	line-height:30px;
	font-weight:600;
	text-transform:uppercase;
	font-family: 'Poppins', sans-serif;
	opacity:1;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.sticky-header .main-menu .navigation > li > a{
	color:#ffffff;
	padding: 23px 0px;
	margin-right: 40px;
	transition:all 500ms ease;
}
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a{
	position: relative;
	opacity:1;
	color: #ffffff;
	transition:all 500ms ease;
}
.main-menu .navigation > li:hover:before, 
.main-menu .navigation > li.current:before, 
.main-menu .navigation > li.current-menu-item:before {
    color: #ffffff !important;
    opacity: 1;
}
.main-menu .navigation > li:before{
	content: '';
	position: absolute;
	left: 0px;
	bottom: 15px;
	width: 15px;
	height: 2px;
	background: #ffffff;
	opacity: 0;
}
.main-menu .navigation > li:hover > a:after{
	opacity:1;
}
.main-menu .navigation > li > ul{
	position:absolute;
	left:0px;
	top:130%;
	width:220px;
	padding:0px;
	z-index:100;
	display:none;
	background:#012f5d;
	border-top:3px solid #ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.30);
}
.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}
.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 15px;
	line-height:22px;
	font-weight:400;
	background: #24c4f4;
	font-size:14px;
	text-transform: uppercase;
	color: #ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li:hover > a{
	background:#ffffff;
	color: #24c4f4;
	transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li.dropdown:hover > a:after{
	color:#ffffff;
	transition:all 500ms ease;	
}
.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	top:100%;
	transition:all 500ms ease;	
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	right: 0px;
	top: 5px;
	width:34px;
	height:34px;
	text-align:center;
	font-size:16px;
	line-height:28px;
	color:#ffffff;
	cursor:pointer;
	z-index:5;
	display:none;
}
.main-header .search-form-icon{
	position: relative;
	color: #ffffff;
	background: #f6f6f6;
}
.main-header .search-form-icon [placeholder]{
	color: #222222;
	background: transparent;
	border: 1px solid #d9d9d9;
	padding: 5px 20px;
	font-size: 14px;
	line-height: 22px;
	border-radius: 20px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-header .search-form-icon [placeholder]:focus{
	background: transparent;
	border: 1px solid #26c75b;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-header .search-form-icon button{
	position: absolute;
	color: #434343;
	background: transparent;
	right: 5px;
	top: 0px;
	line-height: 35px;
	transition:all 500ms ease;
}
.main-header .search-form-icon span:hover{
	color: #26c75b;
	transition:all 500ms ease;
}
.header-lower .header-area .link-btn{
	position:absolute;
	top: 6px;
	right: 6px;
	background: #ffffff;
	border-radius: 25px;
}
.header-lower .header-area .link-btn:before{
	content: '';
	position: absolute;
	right: 80%;
	top: 0px;
	width: 12%;
	height: 100%;
	background: #ffffff;
	z-index: 0;
	transform: skewX(-15deg);
}
.header-lower .header-area .link-btn:after{
	content: '';
	position: absolute;
	right: 90%;
	top: 0px;
	width: 12%;
	height: 100%;
	background: #24c4f4;
	z-index: 0;
	transform: skewX(-15deg);
}

#team{
    background-image: url(./Images/onepage-testi-bg.jpg);
    height: 1000px;
    background-size: cover;
    background-position: bottom;
}

#team .portfolio-heading h5{
    font-size: 60px;
    color:  #f2b636;
    font-weight: 500;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

#team .content-outer{
    height: 490px;
    width: 350px;
    background: #FFF;
    color: #878c9b;
    display: table;
    padding: 30px;
    text-align: center;
    transition: all .3s linear;
}

#team .content-outer:hover{
    cursor: grab;
    transform: translateY(-30px);
}

#team .content-outer img{
    display: inline-block;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

#team .content-inner{
     height: 490px;
    width: 370px;
    display: table-cell;
    vertical-align: middle;
}

#team .content-outer p{
       color: #878c9b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

#team .content-outer h2{
     color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 0px;
}

#team .content-outer h3{
     color:  #878c9b;
    font-size: 18px;
    font-weight: 400;
        margin-top: 0px;
    margin-bottom: 30px;
}
.img-circle{
    border-radius: 50%;
}


/*****************************FOOTER**************************************/
#footer{
    padding-top: 120px;
    background: #182141;
    height: 500px;
}

#footer img{
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
     
}
#footer p{
    color:#7B7D7F;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

#footer li a{
     color:#7B7D7F;
    font-size: 16px;
    line-height: 1.6;
    padding: 5px;
    display: inline-block;
    
}

#footer li{
    list-style: none;
    margin-left: 100px;
}

#footer li a:hover{
    color: #f2b636;
}

#footer h5{
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 17px;
    text-transform: uppercase;
    color:  #f2b636;
    font-weight: 700;
}

#footer .right{
    margin-left: 50px;
}

#footer .down{
    padding-top: 60px;
    font-size: 16px;
}

#footer .horizontal {
      font-size: 12px;
    font-weight: 300;
    display: inline-block;
     padding-top: 60px;
    margin-left: -30px;
}

#footer .horizontal a{
    display: inline-block;
    padding-right: 40px;
}


/*********************** 
        LOADER
************************/
.loader{
    /*Make FullScreen*/
    width: 100%;
    height: 100%;
    
    /********** To Make it Full-screen (Another way)*******/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #ffcf10;
        ;
/*    background: linear-gradient(to right, #5c9320 2%, #63C600 82%);*/
    z-index: 9999;
}

.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
/*
    margin-top: -60px;
    margin-left: -60px;
*/
    transform: translate(-50%,-50%);
}

.loader span{
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    display: block;
    position: absolute;
    opacity: 0;
    animation: load 5s ease-in-out infinite;
}

.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader span.block-1{
    animation-delay: 1.06s;
    left: 0;
    top: 0;
}

.loader span.block-2{
    animation-delay: .97s;
    left: 16px;
    top: 0;
}

.loader span.block-3{
    animation-delay: .88s;
    left: 32px;
    top: 0;
}

.loader span.block-4{
    animation-delay: .79s;
    left: 48px;
    top: 0;
}
.loader span.block-5{
    animation-delay: .70s;
    left: 0;
    top: 16px;
}
.loader span.block-6{
    animation-delay: .61s;
    left: 16px;
    top: 16px;
}
.loader span.block-7{
    animation-delay: .52s;
    left: 32px;
    top: 16px;
}
.loader span.block-8{
    animation-delay: .43s;
    left: 48px;
    top: 16px;
}
.loader span.block-9{
    animation-delay: .34s;
    left: 0;
    top: 32px;
}
.loader span.block-10{
    animation-delay: .25s;
    left: 16px;
    top: 32px;
}
.loader span.block-11{
    animation-delay: .16s;
    left: 32px;
    top: 32px;
}
.loader span.block-12{
    animation-delay: .07s;
    left: 48px;
    top: 32px;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left: 0;
    top: 48px;
}
.loader span.block-14{
    animation-delay: -0.11s;
    left: 16px;
    top: 48px;
}
.loader span.block-15{
    animation-delay: -0.20s;
    left: 32px;
    top: 48px;
}
.loader span.block-16{
    animation-delay: -0.29s;
    left: 48px;
    top: 48px;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-95px);
    }
    15%{
        opacity: 0;
        transform: translateY(-95px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
        transform: translateY(0)
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(95px);
    }
    100%{
        opacity: 0;
        transform: translateY(95px);
    }
}
#home-articles {
    margin-bottom: 50px;
}


